.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.select {
    padding: 10px;
    margin-top: 15px;
}

.profile-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover; /* Додано для кращого відображення зображення */
}

.username {
    font-weight: bold;
}

.amounts {
    margin-top: 20px;
}

.amount {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.amount label {
    font-weight: bold;
}

.amount span {
    font-weight: bold;
    color: #000;
}
